<!DOCTYPE html>
<html>
<head>
  <title>Stats</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" type="text/css" href="/assets/application.css"></link>
</head>
<body>

<%= yield %>

</body>
</html>
